.ngo-section {
    padding: 5rem 0;

    .comming-soon {
        padding: 5rem 0;
        h2 {
            color: #2e994c;
            font-size: 40px;
            font-weight: bold;
            text-transform: uppercase;
            text-align: center;
        }
    }
}